# Dependencies
node_modules/

# Next.js
.next/
out/
public/assets

# Build
dist/

# Environment
.env
.env.local
.env.production
.env.development

# OS
.DS_Store
Thumbs.db
desktop.ini
*.tmp
*.log

# IDE
.vscode/
.idea/

# Debug
npm-debug.log*
